path,environment,website,store,value
active,,,,1
environment,,,,development
email,development,,,test@test.com
base_url,,,,http://dev.test.com/
base_url,,2,,http://dev.test2.com/
web/unsecure/base_url,development,,,{base_url}
web/secure/base_url,development,,,{base_url}
web/unsecure/base_skin_url,,,,{base_url}skin/
web/unsecure/base_media_url,,,,{base_url}media/
web/unsecure/base_js_url,,,,{base_url}js/
web/secure/use_in_adminhtml,development,,,0
web/cookie/cookie_domain,development,,,
advancedsmtp/settings/username,development,,,{email}
advancedsmtp/settings/password,development,,,passwd
dev/debug/profiler,,,,0
dev/js/merge_files,,,,0
trans_email/ident_general/email,,,,{email}
trans_email/ident_sales/email,,,,{email}
trans_email/ident_support/email,,,,{email}
trans_email/ident_custom1/email,,,,{email}
trans_email/ident_custom2/email,,,,{email}
contacts/email/recipient_email,,,,{email}
sales_email/order/copy_to,,,,{email}
sales_email/order_comment/copy_to,,,,{email}
sales_email/invoice/copy_to,,,,{email}
sales_email/invoice_comment/copy_to,,,,{email}
sales_email/shipment/copy_to,,,,{email}
sales_email/shipment_comment/copy_to,,,,{email}
sales_email/creditmemo/copy_to,,,,{email}
sales_email/creditmemo_comment/copy_to,,,,{email}
paypal/general/business_account,,,,
paypal/wpp/api_username,,,,
paypal/wpp/api_password,,,,
paypal/wpp/api_signature,,,,
paypal/wpp/sandbox_flag,,,,1
payment/paypal_standard/sandbox_flag,,,,1
payment/paypal_standard/debug,,,,1
